body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main-content {
  padding: 40px;
}


.header-sticky {
  position: sticky;
  top: 0;
  z-index: 50;
  background: #111;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  color: #c8a96e;
  font-weight: bold;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 20px;
}

.nav a:hover {
  color: #fff;
}

.active-link {
  color: #fff;
}

.page-title {
  font-size: 36px;
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 10px;
}

.page-intro {
  color: #000000;
  margin-bottom: 40px;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 15px;
}

.gallery-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}

.text {
  color: #000000;
  line-height: 1.7;
  margin-bottom: 20px;
}

.meta {
  color: #000000;
  font-size: 13px;
  margin-bottom: 20px;
}

.tabs-list {
  margin-bottom: 0;
  display: flex;
  gap: 20px;
}

.tab {
  font-size: 15px;
  cursor: pointer;
  color: #000000;
}

.tab.active {
  color: #000;
  font-weight: bold;
}


.panel {
  border: 1px solid #eee;
  border-top: none;
}

.panel-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 30px;
}

.panel-content {
  padding: 30px;
}

.main-image {
  width: 100%;
  border-radius: 4px;
}


.expo-btn {
  display: inline-block;
  padding: 10px 20px;
  background: #ce9937;
  color: #ffffff;
  text-decoration: none;
  font-weight: bolder;
  border-radius: 4px;
  cursor: pointer;
}

.expo-btn:hover {
  background: #b8965c;
}


.gallery {
  padding: 0 30px 30px;
}

.gallery-list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-list li {
  flex: 1;
}

.gallery-list img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.caption {
  font-size: 13px;
  color: #000000;
}

.contact-section {
  margin-top: 50px;
}

.contact-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.highlight-link {
  color: #c8a96e;
  text-decoration: none;
}

/* #footer-nav {
  margin-bottom: 10px;
  list-style: none;
  padding: 0;
}

#footer-nav li {
  display: inline;
}

.footer-link {
  color: #cdcdcd;
  margin: 0 10px;
} */

.copyright {
  color: #cdcdcd;
  font-size: 14px;
}








/* #footer-nav {
    margin-bottom: 10px;
    list-style: none;
    padding: 0;
}

#footer-nav li {
    display: inline;
}

.footer-link {
    color: #cdcdcd;
    margin: 0 10px;
} */

.copyright{
    color: #cdcdcd;
    font-size: 14px;
}